In [34]:
!pip install selenium

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: selenium in c:\users\hi\appdata\roaming\python\python311\site-packages (4.12.0)
Requirement already satisfied: urllib3[socks]<3,>=1.26 in c:\programdata\anaconda3\lib\site-packages (from selenium) (1.26.16)
Requirement already satisfied: trio~=0.17 in c:\users\hi\appdata\roaming\python\python311\site-packages (from selenium) (0.22.2)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\hi\appdata\roaming\python\python311\site-packages (from selenium) (0.10.4)
Requirement already satisfied: certifi>=2021.10.8 in c:\programdata\anaconda3\lib\site-packages (from selenium) (2023.5.7)
Requirement already satisfied: attrs>=20.1.0 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (22.1.0)
Requirement already satisfied: sortedcontainers in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: idna in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.4)
Requirement already satisfied: outcome in c:\users\hi\appdata\roaming\python\python311\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: sniffio in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: cffi>=1.14 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: exceptiongroup in c:\users\hi\appdata\roaming\python\python311\site-packages (from trio-websocket~=0.9->selenium) (1.1.3)
Requirement already satisfied: wsproto>=0.14 in c:\users\hi\appdata\roaming\python\python311\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\programdata\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\programdata\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\hi\appdata\roaming\python\python311\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [35]:
import requests
import selenium
import pandas as pd
import time
from selenium import webdriver
import warnings
warnings.simplefilter("ignore")
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
from selenium.common.exceptions import NoSuchElementException, StaleElementReferenceException, ElementClickInterceptedException

Q1. Scrape the details of most viewed videos on YouTube from Wikipedia. Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos You need to find following details: A) Rank
B) Name
C) Artist
D) Upload date
E) Views

In [3]:
driver=webdriver.Chrome()
time.sleep(1)
driver.get("https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos")
time.sleep(2)

In [4]:
Rank =[]
Name =[]
Artist =[]
Upload_date=[]
Views=[]

try:
    rank=driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"][1]/tbody/tr/td[1]')
    for i in rank:
        Rank.append(i.text)
except NoSuchElementException:
    Rank.append('NA')
except StaleElementReferenceException:
    Rank.append('NA')
    
try:
    name=driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"][1]/tbody/tr/td[2]')
    for i in name:
        Name.append(i.text)
except NoSuchElementExceptionhElementException:
    Name.append('NA')
except StaleElementReferenceException:
    Name.append('NA')
    
try:
    artist=driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"][1]/tbody/tr/td[3]')
    for i in artist:
        Artist.append(i.text)
except NoSuchElementExceptionhElementException:
    Artist.append('NA')
except StaleElementReferenceException:
    Artist.append('NA')

try:
    upload_date=driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"][1]/tbody/tr/td[5]')
    for i in upload_date:
        Upload_date.append(i.text)
except NoSuchElementExceptionhElementException:
    Upload_date.append('NA')
except StaleElementReferenceException:
    Upload_date.append('NA') 

try:
    views=driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"][1]/tbody/tr/td[4]')
    for i in views:
        Views.append(i.text)
except NoSuchElementExceptionhElementException:
    Views.append('NA')
except StaleElementReferenceException:
    Views.append('NA')

In [5]:
df=pd.DataFrame({'Rank':Rank,'Video Name':Name,'Uploader':Artist,'Views (in Billons)':Views,'Upload Date':Upload_date})
print('\033[1m'+'Most Viewed Video on YouTube from Wikipedia :'+'\033[0m')
df

Most Viewed Video on YouTube from Wikipedia :

,Rank,Video Name,Uploader,Views (in Billons),Upload Date
0,1.,"""Baby Shark Dance""[6]",Pinkfong Baby Shark - Kids' Songs & Stories,13.48,"June 17, 2016"
1,2.,"""Despacito""[9]",Luis Fonsi,8.28,"January 12, 2017"
2,3.,"""Johny Johny Yes Papa""[17]",LooLoo Kids - Nursery Rhymes and Children's Songs,6.82,"October 8, 2016"
3,4.,"""Bath Song""[18]",Cocomelon - Nursery Rhymes,6.45,"May 2, 2018"
4,5.,"""Shape of You""[19]",Ed Sheeran,6.11,"January 30, 2017"
5,6.,"""See You Again""[22]",Wiz Khalifa,6.05,"April 6, 2015"
6,7.,"""Wheels on the Bus""[27]",Cocomelon - Nursery Rhymes,5.62,"May 24, 2018"
7,8.,"""Phonics Song with Two Words""[28]",ChuChu TV Nursery Rhymes & Kids Songs,5.52,"March 6, 2014"
8,9.,"""Uptown Funk""[29]",Mark Ronson,5.05,"November 19, 2014"
9,10.,"""Learning Colors – Colorful Eggs on a Farm""[30]",Miroshka TV,4.99,"February 27, 2018"
10,11.,"""Gangnam Style""[31]",officialpsy,4.92,"July 15, 2012"
11,12.,"""Masha and the Bear – Recipe for Disaster""[36]",Get Movies,4.56,"January 31, 2012"
12,13.,"""Dame Tu Cosita""[37]",Ultra Records,4.46,"April 5, 2018"
13,14.,"""Axel F""[38]",Crazy Frog,4.09,"June 16, 2009"
14,15.,"""Sugar""[39]",Maroon 5,3.95,"January 14, 2015"
15,16.,"""Counting Stars""[40]",OneRepublic,3.89,"May 31, 2013"
16,17.,"""Roar""[41]",Katy Perry,3.89,"September 5, 2013"
17,18.,"""Baa Baa Black Sheep""[42]",Cocomelon - Nursery Rhymes,3.80,"June 25, 2018"
18,19.,"""Waka Waka (This Time for Africa)""[43]",Shakira,3.75,"June 4, 2010"
19,20.,"""Sorry""[44]",Justin Bieber,3.72,"October 22, 2015"
20,21.,"""Lakdi Ki Kathi""[45]",Jingle Toons,3.71,"June 14, 2018"
21,22.,"""Thinking Out Loud""[46]",Ed Sheeran,3.67,"October 7, 2014"
22,23.,"""Dark Horse""[47]",Katy Perry,3.60,"February 20, 2014"
23,24.,"""Humpty the train on a fruits ride""[48]",Kiddiestv Hindi - Nursery Rhymes & Kids Songs,3.58,"January 26, 2018"
24,25.,"""Perfect""[49]",Ed Sheeran,3.56,"November 9, 2017"
25,26.,"""Let Her Go""[50]",Passenger,3.53,"July 25, 2012"
26,27.,"""Faded""[51]",Alan Walker,3.53,"December 3, 2015"
27,28.,"""Girls Like You""[52]",Maroon 5,3.50,"May 31, 2018"
28,29.,"""Shree Hanuman Chalisa""[53]",T-Series Bhakti Sagar,3.48,"May 10, 2011"
29,30.,"""Lean On""[54]",Major Lazer Official,3.48,"March 22, 2015"

Q2. Scrape the details team India’s international fixtures from bcci.tv.
Url = https://www.bcci.tv/.
You need to find following details:
A) Series
B) Place
C) Date
D) Time
Note: - From bcci.tv home page you have reach to the international fixture page through code.

In [28]:
driver=webdriver.Chrome()
time.sleep(1)
driver.get("https://www.bcci.tv/")
time.sleep(2)

In [29]:
driver.find_element(By.XPATH,'//button[@class="close-button page-close"]').click()

In [30]:
international=driver.find_element(By.XPATH,'/html/body/div[3]/ul/li/a[2]')
try:
    international.click()
except ElementNotInteractableException:
    driver.get(fixtures.get_attribute('href'))

In [31]:
Title = []
Series = []
Place = []
Date = []
Time = []

time.sleep(2)

try:
    title=driver.find_elements(By.XPATH,'//h5[@class="match-tournament-name ng-binding"]')
    for i in title:
        Title.append(i.text)
except NoSuchElementException:
    Title.append('NA')

time.sleep(2)

try:
    series=driver.find_elements(By.XPATH,'//span[@class="teamTypeTag ng-scope"]')
    for i in series:
        Series.append(i.text)
except NoSuchElementException:
    Series.append('NA')

time.sleep(2)

try:
    place=driver.find_elements(By.XPATH,'//div[@class="match-place ng-scope"]')
    for i in place:
        Place.append(i.text)
except NoSuchElementException:
    Place.append('NA')

time.sleep(2)

try:
    date=driver.find_elements(By.XPATH,'//div[@class="match-dates ng-binding"]')
    for i in date:
        Date.append(i.text)
except NoSuchElementException:
    Date.append('NA')

time.sleep(2)

try:
    time=driver.find_elements(By.XPATH,'//div[@class="match-time no-margin ng-binding"]')
    for i in time:
        Time.append(i.text)
except NoSuchElementException:
    Time.append('NA')

In [32]:
df=pd.DataFrame({'Match Title':Title,'Tournament':Series,'Venue':Place,'Date':Date,'Time':Time})
df

,Match Title,Tournament,Venue,Date,Time
0,ICC MENS WORLD CUP 2023,Men,"Maharashtra Cricket Association Stadium, Pune","19 OCTOBER, 2023",2:00 PM IST
1,ICC MENS WORLD CUP 2023,Men,"Narendra Modi Stadium, Ahmedabad","14 OCTOBER, 2023",2:00 PM IST
2,ICC MENS WORLD CUP 2023,Men,"Arun Jaitley Stadium, Delhi","11 OCTOBER, 2023",2:00 PM IST
3,ICC MENS WORLD CUP 2023,Men,"MA Chidambaram Stadium, Chennai","8 OCTOBER, 2023",2:00 PM IST
4,19TH ASIAN GAMES HANGZHOU 2022,Men,"Pingfeng Cricket Field, Hangzhou","7 OCTOBER, 2023",11:30 AM IST
5,19TH ASIAN GAMES HANGZHOU 2022,Men,"Pingfeng Cricket Field, Hangzhou","6 OCTOBER, 2023",6:30 AM IST
6,ICC MENS WORLD CUP 2023 WARM-UP MATCHES,Men,"Greenfield International Stadium, Thiruvananth...","3 OCTOBER, 2023",2:00 PM IST
7,19TH ASIAN GAMES HANGZHOU 2022,Men,"Pingfeng Cricket Field, Hangzhou","3 OCTOBER, 2023",6:30 AM IST
8,ICC MENS WORLD CUP 2023 WARM-UP MATCHES,Men,"Barsapara Cricket Stadium, Guwahati","30 SEPTEMBER, 2023",2:00 PM IST

Q3. Scrape the details of State-wise GDP of India from statisticstime.com.
Url = http://statisticstimes.com/
You have to find following details: A) Rank
B) State
C) GSDP(18-19)- at current prices
D) GSDP(19-20)- at current prices
E) Share(18-19)
F) GDP($ billion)
Note: - From statisticstimes home page you have to reach to economy page through code.

In [3]:
driver=webdriver.Chrome()
time.sleep(1)
driver.get("https://www.statisticstimes.com/")
time.sleep(2)

In [5]:
driver.find_element(By.XPATH,'//*[@id="top"]/div[2]/div[2]/button').click()
driver.find_element(By.XPATH,'//*[@id="top"]/div[2]/div[2]/div/a[3]').click()
driver.find_element(By.XPATH,'/html/body/div[2]/div[2]/div[2]/ul/li[1]/a').click()

time.sleep(2)

In [6]:
rank=[]
try:
    ranks=driver.find_elements(By.XPATH,'//div[@id="table_id_wrapper"]/table/tbody/tr/td[1]')
    for i in ranks:
        rank.append(i.text)
except NoSuchElementException:                 
    rank.append('NA')
time.sleep(2)



State=[]
try:
    states=driver.find_elements(By.XPATH,'//div[@id="table_id_wrapper"]/table/tbody/tr/td[2]')
    for i in states:
        State.append(i.text)
except NoSuchElementException:                 
    State.append('NA')
time.sleep(2)



GSDP_20=[]
try:
    info=driver.find_elements(By.XPATH,'//div[@id="table_id_wrapper"]/table/tbody/tr/td[3]')
    for i in info:
        GSDP_20.append(i.text)
except NoSuchElementException:           
    GSDP_20.append('NA')
time.sleep(2)    
    

GSDP_19=[]
try:
    info=driver.find_elements(By.XPATH,'//div[@id="table_id_wrapper"]/table/tbody/tr/td[4]')
    for i in info:
        GSDP_19.append(i.text)
except NoSuchElementException:       
    GSDP_19.append('NA')
time.sleep(2)


share=[]
try:
    info=driver.find_elements(By.XPATH,'//div[@id="table_id_wrapper"]/table/tbody/tr/td[5]')
    for i in info:
        share.append(i.text)
except NoSuchElementException:       
    share.append('NA')
time.sleep(2)


GDP_billion=[]
try:
    info=driver.find_elements(By.XPATH,'//div[@id="table_id_wrapper"]/table/tbody/tr/td[6]')
    for i in info:
        GDP_billion.append(i.text)
except NoSuchElementException:          
    GDP_billion.append('NA')
time.sleep(2)

In [7]:
df=pd.DataFrame({'Rank':rank,'State':State,'GSDP(19-20)':GSDP_20,'GSDP(18-19)':GSDP_19,'Share(18-19)':share,'GDP(Billion_$)':GDP_billion})
df

,Rank,State,GSDP(19-20),GSDP(18-19),Share(18-19),GDP(Billion_$)
0,1,Maharashtra,-,"2,632,792",13.94%,399.921
1,2,Tamil Nadu,"1,845,853","1,630,208",8.63%,247.629
2,3,Uttar Pradesh,"1,687,818","1,584,764",8.39%,240.726
3,4,Gujarat,-,"1,502,899",7.96%,228.290
4,5,Karnataka,"1,631,977","1,493,127",7.91%,226.806
5,6,West Bengal,"1,253,832","1,089,898",5.77%,165.556
6,7,Rajasthan,"1,020,989","942,586",4.99%,143.179
7,8,Andhra Pradesh,"972,782","862,957",4.57%,131.083
8,9,Telangana,"969,604","861,031",4.56%,130.791
9,10,Madhya Pradesh,"906,672","809,592",4.29%,122.977
10,11,Kerala,-,"781,653",4.14%,118.733
11,12,Delhi,"856,112","774,870",4.10%,117.703
12,13,Haryana,"831,610","734,163",3.89%,111.519
13,14,Bihar,"611,804","530,363",2.81%,80.562
14,15,Punjab,"574,760","526,376",2.79%,79.957
15,16,Odisha,"521,275","487,805",2.58%,74.098
16,17,Assam,-,"315,881",1.67%,47.982
17,18,Chhattisgarh,"329,180","304,063",1.61%,46.187
18,19,Jharkhand,"328,598","297,204",1.57%,45.145
19,20,Uttarakhand,-,"245,895",1.30%,37.351
20,21,Jammu & Kashmir,-,"155,956",0.83%,23.690
21,22,Himachal Pradesh,"165,472","153,845",0.81%,23.369
22,23,Goa,"80,449","73,170",0.39%,11.115
23,24,Tripura,"55,984","49,845",0.26%,7.571
24,25,Chandigarh,-,"42,114",0.22%,6.397
25,26,Puducherry,"38,253","34,433",0.18%,5.230
26,27,Meghalaya,"36,572","33,481",0.18%,5.086
27,28,Sikkim,"32,496","28,723",0.15%,4.363
28,29,Manipur,"31,790","27,870",0.15%,4.233
29,30,Nagaland,-,"27,283",0.14%,4.144
30,31,Arunachal Pradesh,-,"24,603",0.13%,3.737
31,32,Mizoram,"26,503","22,287",0.12%,3.385
32,33,Andaman & Nicobar Islands,-,-,-,-

Q4. Scrape the details of trending repositories on Github.com.
Url = https://github.com/
You have to find the following details:
A) Repository title
B) Repository description
C) Contributors count
D) Language used
Note: - From the home page you have to click on the trending option from Explore menu through code.

In [13]:
driver=webdriver.Chrome()
time.sleep(1)
driver.get("https://github.com/")
time.sleep(2)

In [14]:
explore=driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/button')
explore.click()
time.sleep(2)

explore=driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/div/div[3]/ul/li[2]/a')
try:
    explore.click()
except:
    driver.get(explore.get_attribute('href'))
time.sleep(2)

In [15]:
repo_urls=[]
Contributors_count=[]
Language_used=[]
repo_title=[]
repo_desc=[]

#scraping repositories urls
repos=driver.find_elements(By.XPATH,'//a[@class="Link"]')
for i in repos:
    repo_urls.append(i.get_attribute('href'))
time.sleep(2) 

    
#scraping repositories title
repo_title=[]
try:
    repos=driver.find_elements(By.XPATH,'//h2[@class="h3 lh-condensed"]')
    for i in repos:
        repo_title.append(i.text)
except NoSuchElementException:#handling no such element exception
    repo_title.append('No details available')
time.sleep(3)
    

for i in repo_urls:
    driver.get(i)
    l=[]
    time.sleep(3)
    #scraping repositories discription
    try:
        repo = driver.find_element(By.XPATH,'//*[@id="repo-content-pjax-container"]/div/div/div[2]/div[2]/div/div[1]/div/p')
        repo_desc.append(repo.text)
    except NoSuchElementException:
        repo_desc.append('-')
    
    #scraping contributors count
    try:
        count=driver.find_element(By.XPATH,'//h2[@class="h4 mb-3"]/a[contains(text(),"Contributors")]/span')
        Contributors_count.append(count.text)
    except NoSuchElementException:#handling no such element exception
        Contributors_count.append('No details available')
    time.sleep(2)
    
     #scraping languages used   
    languages=driver.find_elements(By.XPATH,'//li[@class="d-inline"]//a//span[1]')
    if languages:    
        for i in languages:
            l.append(i.text)
    else:
        l.append('No languages used')
    Language_used.append(l)   
    
time.sleep(2)

In [16]:
df=pd.DataFrame({'Title':repo_title,'Description':repo_desc,'Contributors_count':Contributors_count,'Language_used':Language_used})
df

,Title,Description,Contributors_count,Language_used
0,ByteByteGoHq / system-design-101,Explain complex systems using visuals and simp...,5,[No languages used]
1,cpacker / MemGPT,Teaching LLMs memory management for unbounded ...,7,[Python]
2,JonathonLuiten / Dynamic3DGaussians,-,No details available,[Python]
3,omnivore-app / omnivore,"Omnivore is a complete, open source read-it-la...",33,"[HTML, TypeScript, Swift, JavaScript, Kotlin, ..."
4,spdustin / ChatGPT-AutoExpert,🚀🧠💬 Supercharged Custom Instructions for ChatG...,3,[Python]
5,geekan / MetaGPT,🌟 The Multi-Agent Framework: Given one line Re...,35,[Python]
6,cloudcommunity / Free-Certifications,A curated list of free courses & certifications.,48,[No languages used]
7,yanfengwu-syser / syserdebugger,-,No details available,"[C++, C, Batchfile, HTML, Assembly, XSLT]"
8,barnamenevisi / free-resources,، تمام منابع آموزشی معرفی شده رایگان هستن برای...,4,[No languages used]
9,PWhiddy / PokemonRedExperiments,Playing Pokemon Red with Reinforcement Learning,4,"[Jupyter Notebook, Python]"
10,Orange-Cyberdefense / GOAD,game of active directory,15,"[PowerShell, Shell, HCL, Jinja, ASP.NET, Docke..."
11,TheRealJoelmatic / RemoveAdblockThing,"Removes The ""Ad blocker are not allowed on You...",4,[JavaScript]
12,awesome-selfhosted / awesome-selfhosted,A list of Free Software network services and w...,"1,262",[No languages used]
13,oceanbase / miniob,MiniOB is a compact database that assists deve...,25,"[C++, Python, C, Yacc, Lua, CMake]"
14,cockpit-project / cockpit,Cockpit is a web-based graphical interface for...,187,"[C, JavaScript, Python, SCSS, Shell, HTML]"
15,localsend / localsend,An open source cross-platform alternative to A...,64,"[Dart, C++, CMake, Swift, PowerShell, HTML]"
16,refinedev / refine,"Build your React-based CRUD applications, with...",179,"[TypeScript, JavaScript, CSS, HTML, Handlebars..."
17,uutils / coreutils,Cross-platform Rust rewrite of the GNU coreutils,428,"[Rust, Shell]"
18,pi-hole / pi-hole,A black hole for Internet advertisements,220,"[Shell, Python, Roff, Dockerfile]"
19,hustvl / 4DGaussians,4D Gaussian Splatting for Real-Time Dynamic Sc...,4,"[Jupyter Notebook, Python, Shell]"
20,huggingface / text-embeddings-inference,A blazing fast inference solution for text emb...,No details available,"[Rust, Python, JavaScript, Dockerfile, Makefile]"
21,TeamPiped / Piped,An alternative privacy-friendly YouTube fronte...,184,"[Vue, JavaScript]"
22,wagtail / wagtail,A Django content management system focused on ...,690,"[Python, JavaScript, HTML, TypeScript, SCSS, S..."
23,TheAlgorithms / Python,All Algorithms implemented in Python,"1,093",[Python]
24,Vision-CAIR / MiniGPT-4,Open-sourced codes for MiniGPT-4 and MiniGPT-v2,11,"[Python, Shell]"

Q5. Scrape the details of top 100 songs on billiboard.com. Url = https:/www.billboard.com/ You have to find the following details:
A) Song name
B) Artist name
C) Last week rank
D) Peak rank
E) Weeks on board
Note: - From the home page you have to click on the charts option then hot 100-page link through code.

In [42]:
driver=webdriver.Chrome()
time.sleep(1)
driver.get("https://www.billboard.com/")
time.sleep(2)

In [43]:
billboard=driver.find_element(By.XPATH,'//*[@id="main-wrapper"]/header/div/div[3]/div/nav/ul/li[4]/a')
try:
    billboard.click()
except ElementNotInteractableException:
    driver.get(charts.get_attribute('href'))
time.sleep(2)

In [46]:
song_name=[]
try:
    names=driver.find_elements(By.XPATH,'//h3[@class="c-title  a-no-trucate a-font-primary-bold-s u-letter-spacing-0021 lrv-u-font-size-18@tablet lrv-u-font-size-16 u-line-height-125 u-line-height-normal@mobile-max a-truncate-ellipsis u-max-width-330 u-max-width-230@tablet-only"]')
    for i in names:
        song_name.append(i.text)
except NoSuchElementException:       
    song_name.append('NA')
time.sleep(2)    


#scraping artist_names 
artist_name=[]
try:
    names=driver.find_elements(By.XPATH,'//span[@class="c-label  a-no-trucate a-font-primary-s lrv-u-font-size-14@mobile-max u-line-height-normal@mobile-max u-letter-spacing-0021 lrv-u-display-block a-truncate-ellipsis-2line u-max-width-330 u-max-width-230@tablet-only"]')
    for i in names:
        artist_name.append(i.text)
except NoSuchElementException:       
    artist_name.append('NA')
time.sleep(2)
    


last_week_rank=[]
try:
    ranks=driver.find_elements(By.XPATH,'//*[@id="post-1479786"]/div[3]/div/div/div/div[2]/div[3]/ul/li[4]/ul/li[4]/span')
    for i in ranks:
        last_week_rank.append(i.text)
except NoSuchElementException:        
    last_week_rank.append('NA') 
time.sleep(2)


peak_rank=[]
try:
    ranks=driver.find_elements(By.XPATH,'//*[@id="post-1479786"]/div[3]/div/div/div/div[2]/div[3]/ul/li[4]/ul/li[5]/span')
    for i in ranks:
        peak_rank.append(i.text)
except NoSuchElementException:     
    peak_rank.append('NA')
time.sleep(2)


weeks=[]
try:
    week_count=driver.find_elements(By.XPATH,'//*[@id="post-1479786"]/div[3]/div/div/div/div[2]/div[3]/ul/li[4]/ul/li[6]/span')
    for i in week_count:
        weeks.append(i.text)
except NoSuchElementException:          
    weeks.append('NA')
time.sleep(2)

In [47]:
df=pd.DataFrame({'Song_Name':song_name,
                'Artist_Name':artist_name,
                'Last_week_rank':last_week_rank,
                'Peak':peak_rank,
                'Weeks_on_chart':weeks})
df

ValueError: All arrays must be of the same length

Q6. Scrape the details of Highest selling novels.
A) Book name
B) Author name
C) Volumes sold
D) Publisher
E) Genre
Url - https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare

In [17]:
driver=webdriver.Chrome()
time.sleep(1)
driver.get("https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare")
time.sleep(2)

In [18]:
book_name=[]
try:
    names=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[2]')
    for i in names:
        book_name.append(i.text)
except NoSuchElementException:              
    book_name.append('NA')
time.sleep(2)

author_name=[]
try:
    names=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[3]')
    for i in names:
        author_name.append(i.text)
except NoSuchElementException:
    author_name.append('NA')
time.sleep(2)


Sale=[]
try:
    sale=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[4]')
    for i in sale:
        Sale.append(i.text)
except NoSuchElementException:
    Sale.append('NA')
time.sleep(2)    

publisher=[]
try:
    publishers=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[5]')
    for i in publishers:
        publisher.append(i.text)
except NoSuchElementException:
    publisher.append('NA')
time.sleep(2)

genre=[]
try:
    genres=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[6]')
    for i in genres:
        genre.append(i.text)
except NoSuchElementException:
    genre.append('NA')
time.sleep(2)

In [19]:
df=pd.DataFrame({"Book_name":book_name,"Author_name":author_name,'Volume sold':Sale,'Publisher':publisher,'Genre':genre})
df

,Book_name,Author_name,Volume sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

Q7. Scrape the details most watched tv series of all time from imdb.com.
Url = https://www.imdb.com/list/ls095964455/ You have to find the following details:
A) Name
B) Year span
C) Genre
D) Run time
E) Ratings
F) Votes

In [20]:
driver=webdriver.Chrome()
time.sleep(1)
driver.get("https://www.imdb.com/list/ls095964455/")
time.sleep(2)

In [21]:
name=[]
try:
    names=driver.find_elements(By.XPATH,'//h3[@class="lister-item-header"]/a')
    for i in names:
        name.append(i.text)
except NosuchElementException:
    name.append('NA')
time.sleep(2)


years=[]
try:
    span=driver.find_elements(By.XPATH,'//h3[@class="lister-item-header"]/span[2]')
    for i in span:
        years.append(i.text)
except NosuchElementException:
    years.append('NA')
time.sleep(2)


genre=[]
try:
    genres=driver.find_elements(By.XPATH,'//span[@class="genre"]')
    for i in genres:
        genre.append(i.text)
except NoSuchElementException:
    genre.append('NA')
time.sleep(2)


run_time=[]
try:
    info=driver.find_elements(By.XPATH,'//span[@class="runtime"]')
    for i in info:
        run_time.append(i.text)
except NoSuchElementException:
    run_time.append('NA')
time.sleep(2)


rating=[]
try:
    info=driver.find_elements(By.XPATH,'//div[@class="ipl-rating-star small"]/span[2]')
    for i in info:
        rating.append(i.text)
except NoSuchElementException:
    rating.append('NA')
time.sleep(2)

votes=[]
try:
    info=driver.find_elements(By.XPATH,'//span[@name="nv"]')
    for i in info:
        votes.append(i.text)
except NoSuchElementException:
    votes.append('NA')
time.sleep(2)

In [22]:
df=pd.DataFrame({"Name":name,"years":years,"Genre":genre,"Run_time":run_time,"Rating":rating,"Votes":votes})
df

,Name,years,Genre,Run_time,Rating,Votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.2,"2,213,598"
1,Stranger Things,(2016–2025),"Drama, Fantasy, Horror",51 min,8.7,"1,283,355"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,8.1,"1,050,445"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.5,"308,641"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"267,579"
...,...,...,...,...,...,...
95,Reign,(2013–2017),Drama,42 min,7.5,"52,961"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"65,033"
97,Criminal Minds,(2005– ),"Crime, Drama, Mystery",42 min,8.1,"211,940"
98,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",45 min,7,"44,114"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"270,216"

Q8. Details of Datasets from UCI machine learning repositories.
Url = https://archive.ics.uci.edu/ You have to find the following details:
A) Dataset name
B) Data type
C) Task
D) Attribute type
E) No of instances
F) No of attribute G) Year
Note: - from the home page you have to go to the Show All Dataset page through code.

In [48]:
driver=webdriver.Chrome()
time.sleep(1)
driver.get("https://archive.ics.uci.edu/")
time.sleep(2)

In [49]:
show=driver.find_element(By.XPATH,'//a[@class="btn-primary btn"]')
show.click()
time.sleep(1)

In [50]:
name=[]
try:
    names=driver.find_elements(By.XPATH,'//h2[@class="truncate text-primary"]')
    for i in names:
        name.append(i.text)
except NoSuchElementException:#handling no such element exception
    name.append('NA')
time.sleep(2)


data_type=[]
try:
    data=driver.find_elements(By.XPATH,'/html/body/div/div[1]/div[1]/main/div/div[2]/div[2]/div[1]/div/div[2]/div/div[2]/span')
    for i in data[1:]:
         data_type.append(i.text)
except NoSuchElementException:
    data_type.append("NA")
time.sleep(2)


Task=[]
try:
    task=driver.find_elements(By.XPATH,'/html/body/div/div[1]/div[1]/main/div/div[2]/div[2]/div[1]/div/div[2]/div/div[1]/span')
    for i in task[1:]:
        Task.append(i.text)
except NoSuchElementException:
    Task.append("NA")
time.sleep(2)


no_of_instances=[]
try:
    instance=driver.find_elements(By.XPATH,'/html/body/div/div[1]/div[1]/main/div/div[2]/div[2]/div[1]/div/div[2]/div/div[3]/span')
    for i in instance[1:]:
         no_of_instances.append(i.text)
except NoSuchElementException:
    no_of_instances.append("NA")
time.sleep(2)


no_of_attributes=[]
try:
    attribute=driver.find_elements(By.XPATH,'/html/body/div/div[1]/div[1]/main/div/div[2]/div[2]/div[1]/div/div[2]/div/div[4]/span')
    for i in attribute[1:]:
         no_of_attributes.append(i.text)
except NoSuchElementException:
    no_of_attributes.append("NA")
time.sleep(2)

In [51]:
df=pd.DataFrame({'Name':name,
                'Data_type':data_type,
                'Task':default_task,
                'No_of_instances':no_of_instances,
                'No_of_attributes':no_of_attributes})
df

ValueError: All arrays must be of the same length